.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6effc;
}

.page .container {
  background-color: #fff;
  box-shadow: 0 0 40px #00000039;
  border-radius: 30px;
  max-width: 1000px;
  width: 90%;
  height: auto;
  display: flex;
}

.page .container .leftSide {
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page .container .rightSide {
  width: 50%;
}

/*! Left Side */
/*? Bill Area - Left Side */
.page .container .leftSide .billArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.page .container .leftSide .billArea>h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #334543;
}

/** Bill Input - Bill Area && Left Side */
.page .container .leftSide .billArea .billInput {
  display: flex;
  align-content: center;
  padding-left: 20px;
}

.page .container .leftSide .billArea .billInput p {
  font-size: 24px;
  color: #acbebc;
}

.page .container .leftSide .billArea .billInput input {
  background-color: transparent;
  outline: 0;
  border: 0;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  color: #294443;
  width: 90%;
}

.page .container .leftSide .billArea .billInput input::placeholder {
  color: #29444390;
}

/*? Select Tips - Left Side */
.page .container .leftSide .selectTip {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.page .container .leftSide .selectTip>h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #334543;
}

/** Tips PCT - Select Tips && Left Side */
.page .container .leftSide .selectTip .tipsPct {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.page .container .leftSide .selectTip .tipsPct>button {
  background-color: #00474b;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 650;
  border-radius: 10px;
  cursor: pointer;
}

.page .container .leftSide .selectTip .tipsPct>button:hover {
  opacity: 0.9;
}

.page .container .leftSide .selectTip .tipsPct>input {
  background-color: transparent;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #294443;
}

.page .container .leftSide .selectTip .tipsPct>input::placeholder {
  color: #3e5e5dc1;
}

/*? People Quantity - LeftSide */
.page .container .leftSide .peopleQuantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page .container .leftSide .peopleQuantity>h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #334543;
}

/** People Input - People Quantity && Left Side */
.page .container .leftSide .peopleQuantity .peopleInput {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.page .container .leftSide .peopleQuantity .peopleInput input {
  background-color: transparent;
  outline: 0;
  border: 0;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  color: #294443;
  width: 90%;
}

.page .container .leftSide .peopleQuantity .peopleInput input::placeholder {
  color: #29444390;
}

/*! Right Side */
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*? Result - Right Side  */
.rightSide .result {
  background-color: #00474b;
  width: 90%;
  height: 90%;
  border-radius: 30px;
  padding-top: 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/** Tip Amount - Top Area && Result */
.rightSide .result .topArea .tipAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.rightSide .result .topArea .tipAmount>h1 {
  color: #39b5a8;
}

.rightSide .result .topArea .tipAmount .texts h4 {
  color: #a0c6c6;
}

.rightSide .result .topArea .tipAmount .texts p {
  color: #387379;
}

/** Total - Top Area && Result */
.rightSide .result .topArea .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.rightSide .result .topArea .total .texts h4 {
  color: #a0c6c6;
}

.rightSide .result .topArea .total .texts p {
  color: #387379;
}

.rightSide .result .topArea .total>h1 {
  color: #39b5a8;
}

/** Total With People - Top Area && Result */
.rightSide .result .topArea .totalWithPeoples {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.rightSide .result .topArea .totatotalWithPeoplesl .texts h4 {
  color: #a0c6c6;
  font-size: 10px;
}

.rightSide .result .topArea .totalWithPeoples .texts p {
  color: #387379;
}

.rightSide .result .topArea .totalWithPeoples>h1 {
  color: #39b5a8;
}

/*? Bottom Area */
.rightSide .result .bottomArea {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.rightSide .result .bottomArea .resetButton {
  width: 80%;
  height: 50px;
  margin: 40px;
  background-color: #26c2ad;
  color: #014e49;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.6s;
}

.rightSide .result .bottomArea .resetButton:hover {
  color: #7dfff6;
}